{% extends "main/base.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}



<link rel="stylesheet" href="{% static 'main/css/personal_profile.css' %}" />

<section class="section about-section gray-bg" id="about">
            <div class="container">

                {% if user.profile_photo %}
                <form action="{% url 'account:delete_photo' %}" method="post" style="margin-bottom: 2%">>
                    {% csrf_token %}
                  <input type="submit" value="Delete profile photo">
                      Delete photo
                  </button>
                </form>
                {% endif %}
                <h4>Подписчики: {{ followers.all.count }}</h4>


                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">Имя: {{ user.user_name }}</h3>
                            <h6 class="theme-color lead">{{ user.short_summary }}</h6>
                            <p>{{ user.profile_information }}</p>
                            <div class="row about-list">
                                <div class="col-md-6">

                                    {% if user.country %}
                                    <div class="media">
                                        <label>Residence</label>
                                        <p>{{ user.country }}</p>
                                    </div>
                                    {% endif %}

                                    {% if user.city %}
                                    <div class="media">
                                        <label>Address</label>
                                        <p>{{ user.city }}</p>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="col-md-6">
                                    {% if user.email %}
                                    <div class="media">
                                        <label>E-mail</label>
                                        <p> {{ user.email }}</p>
                                    </div>
                                    {% endif %}

                                    {% if user.mobile %}
                                    <div class="media">
                                        <label>Phone</label>
                                        <p>{{ user.mobile }}</p>
                                    </div>
                                    {% endif %}

                                    {% if user.telegram_link %}
                                    <div class="media">
                                        <label>Telegram</label>
                                        <a href="{{ user.telegram_link }}" class="media-link"><p>{{ user.telegram_link }}</p></a>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            {% if not user.profile_photo %}
                                <img style="width: 315px; height: 315px" src="https://thumbs.dreamstime.com/b/%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%BF%D0%BE-%D1%83%D0%BC%D0%BE%D0%BB%D1%87%D0%B0%D0%BD%D0%B8%D1%8E-%D0%BF%D0%BB%D0%BE%D1%81%D0%BA%D0%B8%D0%B9-%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8F-%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-184330869.jpg" title="" alt="">

                            {% else %}
                                <img src="{{ user.profile_photo.url }}" title="{{ user.username }}" alt="Фото {{ user.username }}" style="width: 315px; height: 315px">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="counter">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                                <p class="m-0px font-w-600">Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                                <p class="m-0px font-w-600">Project Completed</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                                <p class="m-0px font-w-600">Photo Capture</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                                <p class="m-0px font-w-600">Telephonic Talk</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
