{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/subcat_styles.css' %}">

<h2 class="category_headline">{{ category.category_name }}</h2>

{% for subcategory in subcategories %}
<hr>
<div class="subforum-section">
    <div class="subforum-description subforum-column">
        <h4><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></h4>
        {% if subcategory.post_text %}
        <p>{{ subcategory.post_text }}</p>
        {% endif %}
    </div>
    <div class="subforum-stats subforum-column center">
        <span>Количество постов: {{ subcategory.num_posts }}</span>
    </div>
    <div class="subforum-info subforum-column">
        {% if subcategory.last_post %}
        Автор последнего поста: <a href="">{{ subcategory.post_author }}</a>
        <br>
        <small>Последний пост: {{ subcategory.last_post }}</small>

        {% endif %}
    </div>
</div>
<hr>
{% endfor %}

{% endblock %}

