{% load static %}
{% block content %}




<link rel="stylesheet" href="{% static 'main/css/forms.css' %}">

<form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

    {% if form.is_valid %}
    <div class="alert alert-primary" role="alert">
        Комментарий оставлен!
    </div>
    {% endif %}

    {% if form.errors %}
    {% for field in user_form %}
    {% for error in field.errors %}
    <div class="alert alert-primary" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    {% if messages %}
    <div class="alert alert-warning" alert="{{ messages.tags }}" role="alert">
        {% for message in messages %}
        {{ message|safe }}
        {% endfor %}
    </div>
    {% endif %}

    {% csrf_token %}

    <label class="small font-weight-bold">{{ form.title.label}}</label>
    {{ form.title }}

    <label class="small font-weight-bold">{{ form.text.label }}</label>
    {{ form.text }}



    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                        value="Save changes">{% block button %}
        {% if button_label %}
        {{ button_label }}
        {% else %}
        Оставить комментарий
        {% endif %}
        {% endblock %}
    </button>

</form>




{% endblock %}