{% extends 'main/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<style>
    div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing border-box;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
    border-bottom: 1px solid #ccc;
}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
}
.content-text h1 {font-size: 32px;}

</style>

<div class="content-text">
    <ul class="list-articles">
        {% for p in posts %}
        <li>
            <div class="article-panel">
                Автор: <a href="">{{ p.author }}</a>
                <p class="last">Опубликовано: {{p.created_at|date:"d-m-Y H:i:s"}}</p>

            </div>

            <h2>{{p.title}}</h2>
            {% autoescape on %}

            {% endautoescape %}
            <div class="clear"></div>
            {{ p.text }}
<!--            <p class="link-read-post"><a href="">Читать пост</a></p>-->
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}